@import '~bootstrap/scss/bootstrap';

@import '../scss/partials/welcome.scss';
@import '../scss/partials/login.scss';
@import '../scss/partials/register.scss';
@import '../scss/partials/profile.scss';

@import '../scss/partials/index.scss';
@import '../scss/partials/dashboard.scss';
@import '../scss/partials/create.scss';
@import '../scss/partials/show.scss';
@import '../scss/partials/edit.scss';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    background-color: #3393a6;

    color: #F6F3E4;
    font-size: 25px;

    font-family:"Pacifico", cursive;
    text-shadow:2px 4px hsla(4, 98%, 66%, 0.7);
    font-weight: 400;
    font-style: normal;

    z-index: 99;
    ul{
        li{
            color: #F6F3E4;

            transition: .4s ease;

            :hover{
                transition: .4s ease;
                transform: scale(1.2);
            }
        }
    }

   
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.all{
    background-color: #3dc4df;

    height: calc(100% - 126px);
}
