.jumbotron{
    background-color: #3dc4df;

    height: calc(100vh - 126px);

    .welcome_text{
        h1{
            font-size: 100px;
            color: #F6F3E4;
            font-family:"Pacifico", cursive;
            text-shadow:2px 4px #fd6055ba;
            font-weight: 400;
            font-style: normal;
        }
    }

    .logo_laravel{
        img{

            height: 108%;

            transform: rotate(20deg);
        }
    }
}